<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/contact.css">
</head>
<body>
    <div class="content">
        <h1>Contact Me</h1>
        <h2>Get in touch with the following:</h2>

        <div class="contact-grid">
            <a href="mailto:marayanpaularthur1114@gmail.com">✉ marayanpaularthur1114@gmail.com</a>

            <a href="tel:+639194434980">📞 09194434980</a>

            <a href="https://github.com/PArthur0207" target="_blank">💻 GitHub:PArthur0207</a>

            <a href="https://web.facebook.com/paularthur.marayan.92" target="_blank">📘 Facebook</a>

            <a href="https://www.linkedin.com/in/paul-arthur-m-marayan-6719a6352/" target="_blank">🔗 LinkedIn</a>
        </div>

        <a href="/" class="back-btn" style="margin-top: 30px;">← Back to Home</a>
    </div>
</body>
</html>
