<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="static/css/main.css">
  <link rel="stylesheet" href="static/css/index.css">
</head>
<body>

  <div class="content">
    <h1>Welcome to Our Website</h1>
    <h2>Welcome to my programming works</h2>
    
    <div class="link-grid">
      <a href="/profile">Profile</a>
      <a href="https://github.com/PArthur0207" target="_blank">Works</a>
      <a href="/contact">Contact</a>
      <a href="/toUpperCase">toUpperCase</a>
      <a href="/areaOfcircle">Area of a Circle</a>
      <a href="/areaOfTriangle">Area of a Triangle</a>
    </div>
  </div>

</body>
</html>
