<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="static/css/main.css">
  <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/work">Works</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header> 


<div class="hero">
  <div class="hero-circle"></div>

  <div class="hero-text">
    <h1>Paul Arthur M. Marayan</h1>
    <h4>A computer engineering student</h4>
    <p>Welcome to my website</p>
  </div>  

  <div class="hero-img">
    <img src="static/images/my_picture.png" alt="Hero Image">
  </div>
</div>

</body>
</html>
