<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
  <link rel="stylesheet" href="static/css/main.css">
  <link rel="stylesheet" href="static/css/profile.css">

</head> 
<body>
  <div class="top-bar">
    <a href="/" class="back-btn">← Back to Home</a>

  </div>

  
  <div class="profile-container">
    <div class="profile-header">
      <img src="static/images/profile.png" alt="Profile Photo" class="profile-img">
      <h1>Paul Arthur M. Marayan</h1>
      <h3>Computer Engineer</h3>
    </div>

    <div class="profile-info">
      <div class="left-column">
        <section>
          <h2>Education</h2>
          <p><strong>Polytechnic University of the Philippines</strong><br>
          Bachelor of Science in Computer Engineering (2024–2028)</p>
          <p><strong>Leuteboro National High School</strong><br>
          STEM Graduate with flying colors (2019-2024)</p>
        </section>

        <section>
          <h2>Job Experience</h2>
          <p><strong>Sari Sari store clerk </strong><br>
          Managed stores with organizational skills, and storage optimization</p>
        </section>
      </div>

      <div class="right-column">
        <section>
          <h2>About Me</h2>
          <p>A motivated Computer Engineering Student with a passion to learn and drive for curiosity. Capable of working under pressure and with a group.</p>
        </section>

        <section>
          <h2>Skills</h2>
          <ul>
            <li>HTML, CSS, JavaScript</li>
            <li>Python & Flask</li>
            <li>Hardware Troubleshooting</li>
            <li>Project Management</li>
            <li>C++</li>
            <li>Arduino Prototyping</li>
            <li>Microsoft Office Profficiency</li>
          </ul>
        </section>

      </div>
    </div>
  </div>

</body>
</html>
